<ion-header>
	<ion-navbar>
		<ion-title>
			<span class="titulo">kW: Potencia requerida [kW]</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="calculadora_form">
	<p class="formula" [MathJax]="formula">{{formula}}</p>
	<form [formGroup]="formgroup" (ngSubmit)="calcular()" novalidate>
		<ion-item>
			<ion-label stacked class="calculadora_label">v: Velocidad de corte [m/min]</ion-label>
			<ion-input type="number" formControlName="velocidad_corte"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked class="calculadora_label">a: Profundidad de pasada [mm]</ion-label>
			<ion-input type="number" formControlName="profundidad_pasada"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked class="calculadora_label">s: Avance por revolución [mm]</ion-label>
			<ion-input type="number" formControlName="avance_revolucion"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked class="calculadora_label">k<sub>sm</sub>: Fuerza especifica de corte [kg/mm<sup>2</sup>]</ion-label>
			<ion-input type="number" formControlName="fuerza_especifica_corte_referencia"></ion-input>
		</ion-item>
		<button ion-button type="submit" block class="calcular_button" [disabled]="!formgroup.valid">Calcular</button>
	</form>
	<p class="resultado" [innerHTML]="resultado"></p>
</ion-content>