<ion-header>
  <ion-navbar>
    <ion-title>
      <span class="titulo">n: Nº revoluciones por minuto [rpm]</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="calculadora_form">
	<p class="formula" [MathJax]="formula">{{formula}}</p>	
	<form [formGroup]="formgroup" (ngSubmit)="calcular()" novalidate>
		<ion-item>
			<ion-label stacked class="calculadora_label">D: Diámetro [mm]</ion-label>
			<ion-input type="number" formControlName="diametro"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked class="calculadora_label">v: Velocidad de corte [m/min]</ion-label>
			<ion-input type="number" formControlName="velocidad_corte"></ion-input>
		</ion-item>
		<button ion-button type="submit" block class="calcular_button" [disabled]="!formgroup.valid">Calcular</button>		
	</form>	
	<p class="resultado" [innerHTML]="resultado"></p>		
</ion-content>